footer.footer
  .footer__body
    .footer__item
      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    .footer__item
      .footer__menu
        nav.nav
          ul.nav-menu
            li.nav-menu__item
              a.nav-menu__link(href="") Мои работы
            li.nav-menu__item
              a.nav-menu__link(href="") Обо мне
            li.nav-menu__item
              a.nav-menu__link(href="") Блог
            li.nav-menu__item
              a.nav-menu__link(href="") Авторизация
      ul.socials.socials_white
        li.socials__item
          a(href="https://vk.com/mruslanv" target="_blank").socials__link
        li.socials__item
          a(href="https://github.com/canonkko" target="_blank").socials__link
        li.socials__item
          a(href="#0" target="_blank").socials__link
    .footer__item
      ul.footer-contacts
        li.footer-contacts__item
          a.footer-contacts__link(href="skype:canonkko?add") canonkko
        li.footer-contacts__item
          a.footer-contacts__link(href="mailto:ruslankko@gmail.com") ruslankko@gmail.com
        li.footer-contacts__item
          a.footer-contacts__link(href="tel:+79630184890") +7 963 018 48 90
        li.footer-contacts__item г. Пермь
          
  .footer__bottom
    p &copy; Владимир Астахов | Создано с любовью в LoftSchool | 2018
