.blog {
  display: flex;
  justify-content: center;
  background-color: #faf8f0;
  padding-top: 50px;
  &__post {
    border-bottom: 4px solid rgba(55, 62, 66, 0.07);
    padding-bottom: 65px;
    margin-bottom: 60px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    &-date {
      color: rgba(8, 60, 150, 0.85);
    }

    &-text {
      margin-top: 20px;
      p {
        margin-bottom: 15px;
      }
    }
  }
}

.sidebar {
  width: 100%;
  max-width: 265px;
  margin-right: 5%;
  padding-top: 15px;
}

.nav-sidebar {
  text-align: right;

  &__item {
    margin-bottom: 25px;
    position: relative;

    &.active {
      @include roboto('bold');
      .nav-sidebar__link {
        color: rgba(8, 60, 150, 0.85);
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: #0548be;
        width: 3px;
        height: 42px;
      }
    }

  }

  &__link {
    color: #455a64;
    padding-right: 17px;
    display: block;
    /* border-right: 3px solid #0548be; */
  }

  }

.main {
  width: 100%;
  max-width: 880px;
}
