$white: #efeee9;
$beige: #eeebdf;
$blue: #004cd1;
$text-color: #474b57;
$grey: #373e42;
$light-grey: #dfdcd5;

@import 'normalize.css';
@import './layout/fonts.scss';
@import './layout/base.scss';

@import './icons/_sass-inline-svg.scss';
@import './icons/_sass-inline-svg-data.scss';

@import './blocks/**/*';
