extends ../main.layout.pug

block variables
  - var title = 'Главная страница'

block content
  section.hero.section
    .hero__btn
      a.btn-auth(href="#0") Авторизоваться
    .hero__user
      .hero__row
        .user
          .user__img
            img(src='images/content/author.jpg', alt='Руслан Мерзляков')
          h1.user__title Руслан Мерзляков
          .user__subtitle Личный сайт веб разработчика
      ul.socials
        li.socials__item
          a(href="https://vk.com/mruslanv" target="_blank").socials__link
        li.socials__item
          a(href="https://github.com/canonkko" target="_blank").socials__link
        li.socials__item
          a(href="#0" target="_blank").socials__link
      .hero__links
        ul.user-links
          li.user-links__item
            a(href="works").user-links__link Мои работы
          li.user-links__item
            a(href="about").user-links__link Обо мне
          li.user-links__item
            a(href="blog").user-links__link Блог
    .hero__footer
      p 
        | &copy; Владимир Астахов | создано с любовью в LoftSchool | 2016
      
